.container {
    display: grid;
    grid-template-areas:
        'nav nav nav nav'
        'section section aside aside';
    grid-gap: 10px;
    padding-left: 100px;
    padding-right: 100px;

    .nav {
        grid-area: nav;
        display: flex;
        justify-content: space-between;
    }

    .nav ul {
        display: flex;
        margin-right: 80px;
        text-decoration: none;

        li {
            margin-left: 70px;
            margin-top: 60px;

        }

    }

    .section {
        grid-area: section;
        padding: 50px;

        h1 {
            margin-left: 25px;
        }

        p {
            margin-left: 25px;
            margin-bottom: 5px;

        }

        .button {
            margin-left: 25px;
            margin-top: 50px;
        }

        .footer {
            margin-top: 170px;
            padding: 50px;
            background-color: black;
            color: white;

            p:first-of-type {
                margin-bottom: 20px;

            }

            input {
                margin-left: 25px;
            }

        }

    }

    .aside {
        grid-area: aside;
        width: 100%;

        img {
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-areas:
            'nav nav nav'
            'aside aside aside'
            'section section section';
    }
}